<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks - Create a New Task</title>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>
<h1>Create a New Task</h1>


<form action="#" th:action="@{/ui/tasks}" th:object="${task}" method="post">
    <label th:for="*{taskDesc}">Task description</label>
    <input type="text" th:field="*{taskDesc}">
    <p th:if="${#fields.hasErrors('taskDesc')}" th:errorclass="error" th:errors="*{taskDesc}" />
    <input type="submit" value="Create"/>
</form>


<p>
    <a href="/">Abort and Go To Index</a>
</p>

</body>
</html>